.about_section {
    display: flex;
    margin-top: 7%;
  }

  .about_container {
    display: grid;
    margin: 3%;
    grid-template-columns: repeat(2, 1fr);

  }
  
  .about_img {
    border-radius: 50%;
    width: 280px;
    align-items: center;
  }